<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- XML Mapper :: 마이바티스에서 SQL쿼리문이 정의되어 있는 파일 -->

<mapper namespace="com.insurance.mapper.InsuranceMapper">

        <sql id="InsuranceColumns">                                     <!-- 데이터베이스 -->
                                                                        <!-- MySQL에 적은 변수명과 동일하게 작성해야함 -->
                    idx
                  , ins_type 
                  , ins_co
                  , contract_date
                  , contract_no
                  , contractor
                  , insured
                  , prod_name
                  , payt_exp
                  , premium
                  , renew_prod_yn
                  , digi_sig_yn
                  , delete_yn
                  , memo_col
                  , insert_time
                  , update_time
                  , delete_time              
        </sql>
        
        <insert id="insertInsurance" parameterType="InsuranceDTO">
        
                INSERT INTO insurance
                (
                       <include refid = "InsuranceColumns" />           <!-- #붙은 것은 Java -->
                ) VALUES (                                              <!-- InsuranceDTO.java 클래스에 적은 변수명과 동일하게 작성 -->
                       #{idx}
                     , #{insType}
                     , #{insCo}
                     , #{contractDate}
                     , #{contractNo}
                     , #{contractor}
                     , #{insured}
                     , #{prodName}
                     , #{paytExp}
                     , #{premium}
                     , IFNULL(#{renewProdYn}, 'N')
                     , IFNULL(#{digiSigYn}, 'N')
                     , 'N'
                     , #{memoCol}
                     , NOW()                     
                     , NULL
                     , NULL
               	)
        </insert>
        
        <select id="selectInsuranceDetail" parameterType="long" resultType="InsuranceDTO">
        
                SELECT
                      <include refid="InsuranceColumns" />
                FROM
                      insurance
                WHERE
                      delete_yn = 'N'
                AND
                      idx = #{idx}        
        </select>
        
        <!-- 게시글 작성할 때 화면 설정 -->
        <update id="updateInsurance" parameterType="InsuranceDTO">
        
                UPDATE insurance
                
                SET
                      update_time = NOW()
                    , ins_type = #{insType}
                    , ins_co = #{insCo}
                    , contract_date = #{contractDate}
                    , contract_no = #{contractNo}
                    , contractor = #{contractor}
                    , insured = #{insured}
                    , prod_name = #{prodName}
                    , payt_exp = #{paytExp}
                    , premium = #{premium}
                    , renew_prod_yn = IFNULL(#{renewProdYn}, 'N')
                    , digi_sig_yn = IFNULL(#{digiSigYn}, 'N')
                    , memo_col = #{memoCol}
                
                 WHERE
                    idx = #{idx}                             
        </update>
        
        <!-- 게시글 삭제할 때 화면 설정 --> 
        <update id="deleteInsurance" parameterType="long">
        
                 UPDATE insurance
                
                 SET
                       delete_yn = 'Y'
                     , delete_time = NOW()
                 WHERE
                     idx = #{idx}                             
        </update>
        
        <select id="selectInsuranceList" parameterType="InsuranceDTO" resultType="InsuranceDTO">
          
                 SELECT
                      <include refid="InsuranceColumns" />
                 FROM
                      insurance
                 WHERE
                      delete_yn = 'N'
                 <include refid="CommonMapper.search" /> 
                     
                 <!-- 순서 -->
                 <!-- DESC :: 내림차순 -->
                 <!-- ASC  :: 오름차순 -->
                 ORDER BY                    
                      contract_date DESC,
                      idx DESC
                 <include refid="CommonMapper.paging" />     
        </select>
        
        <select id="selectInsuranceTotalCount" parameterType="InsuranceDTO" resultType="int">
        
                 SELECT
                      COUNT(*)
                 FROM
                      insurance
                 WHERE
                      delete_yn = 'N'    
                 <include refid="CommonMapper.search" /> 
        </select>
</mapper>