<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.membershipMapper">
		<!-- 게시판 글 작성?, 회원가입 페이지? -->
		<insert id="register">
				INSERT INTO membership
				(
				<!-- MySQL 변수명 -->
							  user_idx                  <!-- 고유번호 -->
							, user_id                   <!-- 아이디 -->
							, user_pw                   <!-- 비밀번호 -->
							, user_email                <!-- 이메일 -->
							, user_name                 <!-- 이름 -->
							, user_birth                <!-- 주민번호 앞 6자리 -->
							, user_gender               <!-- 성별 -->
							, user_phone                <!-- 연락처 -->
							, quit_yn                   <!-- 탈퇴여부 -->
							
				<!-- STS 변수명 -->			
							) VALUES (
						
							  #{userIdx}                   <!-- 고유번호 -->
							, #{userId}                    <!-- 아이디 -->
							, #{userPw}                    <!-- 비밀번호 -->
							, #{userEmail}                 <!-- 이메일 -->
							, #{userName}                  <!-- 이름 -->
							, #{userBirth}                 <!-- 주민번호 앞 6자리 -->
							, IFNULL(#{userGender}, 'F')   <!-- 성별 -->
							, #{userPhone}                 <!-- 연락처 -->
							, IFNULL(#{quitYn}, 'N')       <!-- 탈퇴여부 -->
		</insert>

</mapper>