<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<!-- th:fragment :: 다른 HTML에서 pagination 이라는 이름으로 엘리먼트를 인클루드 하기 위해 사용 -->
	<!-- th:if       :: 전체 데이터 개수가 1개 이상이면 페이지 번호를 출력 -->
	<!-- th:object   :: 컨트롤러에서 전달받은 객체에 *{} 표현식을 사용하여 멤버 변수에 접근 -->
	<!-- th:with     :: JSTL의 <c:set /> 과 마찬가지로 변수를 선언할 때 사용 (info라는 이름의 paginaionInfo를 저장) -->
	<nav th:fragment="pagination" th:if="${params != null and params.paginationInfo.totalRecordCount > 0}" th:object="${params.paginationInfo}" th:with="info=${params.paginationInfo}" aria-label="Page navigation" class="text-center">
		
		<ul class="pagination">
			
			<!-- 첫 번째 li :: 이전 페이지가 존재하면 게시글 리스트에서 1페이지로 이동 -->
			<li th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${requestURI} ]], [[ ${params.makeQueryString(1)}  ]])">
				<a href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
			</li>
			
			<!-- 두 번째 li :: 이전 페이지가 존재하면 게시글 리스트에서 첫 페이지 번호 -1 페이지로 이동 -->
			<li th:if="*{hasPreviousPage == true}" th:onclick="movePage([[ ${requestURI} ]], [[ ${params.makeQueryString(info.firstPage -1)} ]])">
				<a href="javascript:void(0)" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a>
			</li>
			
			<!-- 세 번째 li :: ${#numbers.sequence(from, to, step)} 함수는 from에서 to까지의 정수의 시퀀스를 생성하는 함수 (세 번째 인자인 step은 지정하지 않으면 1로 적용) -->
			<!-- from에는 첫 페이지 번호, to에는 마지막 페이지 번호를 인자로 전달 (pageSize만큼 반복해서 페이지 번호를 화면에 출력) -->
			<!-- th:class는 페이지 번호와 현재 페이지 번호가 동일하면 active 클래스를 적용 -->
			<li th:each="pageNo : *{#numbers.sequence( firstPage, lastPage )}" th:class="${pageNo == params.currentPageNo} ? 'active'">
				<a href="javascript:void(0)" th:text="${pageNo}" th:onclick="movePage([[ ${requestURI} ]], [[ ${params.makeQueryString(pageNo)} ]])"></a>
			</li>
			
			<!-- 네 번째 li :: 마지막 페이지 번호 +1 페이지로 이동 -->
			<li th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${requestURI} ]], [[ ${params.makeQueryString(info.lastPage + 1)} ]])"> 
				<a href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a>
			</li>
			
			<!-- 다섯 번째 li :: 전체 페이지 개수(totalPageCount)는 전체 데이터 개수(totalRecordCount)를 통해 계산 -->
			<li th:if="*{hasNextPage == true}" th:onclick="movePage([[ ${requestURI} ]], [[ ${params.makeQueryString(info.totalPageCount)} ]])">
				<a href="javascript:void(0)" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
			</li>
			<!-- movePage 함수 :: ${requestURI}는 요청 URI를 가지고 올 때 사용 -->
			<!-- ${params.makeQueryString( pageNo )}는 현재 페이지 번호, 페이지당 출력할 데이터의 개수, 하단에 출력의 개수 정보를 쿼리 스트링 형태로 반환 -->
		</ul>
	</nav>
	
	<!-- 화면(View) 영역 구현 -->
	<div th:fragment="search" id="adv-search" class="input-group">
		<input type="text" id="mainSearchKeyword" class="form-control" th:value="${params.searchKeyword}" placeholder="키워드를 입력해 주시오" />
		<div class="input-group-btn">
			<div class="btn-group" role="group">
				<div class="dropdown dropdown-lg">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
					<div class="dropdown-menu dropdown-menu-right" role="menu">
						<!--/* 검색 form */-->
						<form id="searchForm" th:action="@{/insurance/list.do}" method="get" th:onsubmit="return searchInsurance(this)" class="form-horizontal" role="form">
							
							<!-- /* 현재 페이지 번호, 페이지당 출력할 데이터 개수, 페이지 하단에 출력할 페이지 개수 Hidden 파라미터 */ -->
							<input type="hidden" name="currentPageNo" value="1" />
							<input type="hidden" name="recordsPerPage" th:value="${params.recordsPerPage}" />
							<input type="hidden" name="pageSize" th:value="${params.pageSize}" />
							
							<!-- 메인화면 검색 창 -->
							<div class="form-group">
								<label for="filter"> 검색 유형 </label>
								<select name="searchType" class="form-control">
									<option value="" th:selected="${#strings.isEmpty( params.searchType )}"> 전체 </option>
									<option value="insCo" th:selected="${#strings.equals( params.searchType, 'insCo' )}"> 보험회사명 </option>
									<option value="contractNo" th:selected="${#strings.equals( params.searchType, 'contractNo' )}"> 계약번호 </option>
									<option value="contractor" th:selected="${#strings.equals( params.searchType, 'contractor' )}"> 계약자 </option>
								</select>
							</div>
							
							<div class="form-group">
								<label for="contain"> 검색어 </label>
								<input type="text" name="searchKeyword" class="form-control" th:value="${params.searchKeyword}" />
							</div>
							<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>							
						</form>
					</div>
				</div>
				<button type="button" class="btn btn-primary" onclick="searchInsurance(null)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			</div>
		</div>
	</div>
</html>