<!DOCTYPE html>

<!-- 작성된 글 리스트를 눌렀을 때 뜨는 화면 view html -->

<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.new.nz/thymeleaf/layout" layout:decorate="insurance/layout/basic">
	<th:block layout:fragment="title">
		<title> 작성된 게시글 </title>
	</th:block>
	
	<th:block layout:fragment="content">                                     <!-- layout:fragment="content" :: 게시글 상세 페이지에서 폼 태그는 필요하지 않지만 화면 처리를 위해 사용 (write.html과 같이 th:object 속성을 통해 *{} 표현식으로 제목, 이름, 내용, 등록일, 조회 수를 텍스트 형식으로 출력 -->
		<div class="card-content">
			<form class="form-horizontal form-view" th:object="${insurance}">
				
				<div class="form-group">
					<label for="renewProdYn" class="col-sm-2 control-label"> 갱신형 상품 여부 </label>
					<div class="col-sm-10" style="margin-top: 10px;">
						<input type="checkbox" th:value="*{renewProdYn}" id="renewProdYn" name="renewProdYn" th:checked="*{#strings.equals( renewProdYn, 'Y' )}" />
					</div>
				</div>
				
				<div class="form-group">
					<label for="digiSigYn" class="col-sm-2 control-label"> 전자서명 여부 </label>
					<div class="col-sm-10" style="margin-top: 10px;">
						<input type="checkbox" th:value="*{digiSigYn}" id="digiSigYn" name="digiSigYn" th:checked="*{#strings.equals( digiSigYn, 'Y' )}" />
					</div>
				</div>
				
				<div class="form-group">
					<label for="inp-type-2" class="col-sm-2 control-label"> 보험회사 </label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{insCo}"></p>
					</div>
				</div>
				
				<div class="form-group">
					<label for="inp-type-1" class="col-sm-2 control-label"> 보험종목 </label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{insType}"></p>
					</div>
				</div>
				
				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label"> 작성일자 </label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{#temporals.format( insertTime, 'yyyy-MM-dd' )}"></p>
					</div>
				</div>									
								
				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label"> 계약번호 & 증권번호 </label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{contractNo}"></p>
					</div>
				</div>				
				
				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label"> 계약자 </label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{contractor}"></p>
					</div>
				</div>
				
				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label"> 피보험자 </label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{insured}"></p>
					</div>
				</div>
				
				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label"> 상품명 </label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{prodName}"></p>
					</div>
				</div>
				
				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label"> 납 & 만기 </label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{paytExp}"></p>
					</div>
				</div>
				
				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label"> 보험료 </label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{premium}"></p>
					</div>
				</div>
				
				<div class="form-group">
					<label for="inp-type-5" class="col-sm-2 control-label"> 메모란 </label>
					<div class="col-sm-10">
						<p class="form-control" th:text="*{memoCol}"></p>
					</div>
				</div>
				
			</form>
			
			<div class="btn_wrap text-center" th:object="${params}">
				<a th:href="|@{/insurance/list.do}*{makeQueryString(currentPageNo)}|" class="btn btn-default waves-effect waves-light"> 뒤로가기 </a>
				<a th:href="|@{/insurance/write.do}*{makeQueryString(currentPageNo)}&idx=${insurance.idx}|" class="btn btn-primary waves-effect waves-light"> 수정하기 </a>
				<button type="button" class="btn btn-danger waves-effect waves-light" th:onclick="deleteInsurance([[ ${insurance.idx} ]], [[ *{makeQueryString(currentPageNo)} ]])"> 삭제하기 </button>
			</div>
		</div>
	</th:block>
	
	<!-- 댓글 영역 -->
	<th:block layout:fragment="add-content">
		<div class="box-content">
			<div class="card-content">
				<div class="clearfix">
					<h4 class="box-title pull-left"> Comment </h4>
				</div>
				
				<form class="form-horizontal form-view">
					<div class="input-group margin-bottom-20">
						<input type="text" id="content" class="form-control" />
						<div class="input-group-btn">
							<button type="button" class="btn waves-effect waves-light" th:onclick="insertComment([[ ${insurance.idx} ]])">								
							<i class="fa fa-commenting" aria-hidden="true"></i>
							</button>
						</div>						
					</div>
					<ul class="notice-list"></ul>
				</form>
			</div>
		</div>
	</th:block>
	
	<!-- 게시글 삭제 처리 -->
	<th:block layout:fragment="script">                                         
		<script th:inline="javascript">                                                
			/*<![CDATA[*/                                                              
			function deleteInsurance(idx, queryString)                                 
			{
				if (confirm(idx + "번 게시글을 삭제할까요?"))                               
				{
					var uri = /*[[ @{/insurance/delete.do} ]]*/ null;                  
					var html = "";                                                     
					
					html += '<form name="dataForm" action="'+uri+'" method="post">';
					html += '<input type="hidden" name="idx" value="'+idx+'" />';
					
					/*[- 쿼리 스트링을 오브젝트 형태로 변환 -]*/
					queryString = new URLSearchParams(queryString);
					queryString.forEach(function(value, key)
					{
						if (isEmpty(value) == false)
						{
							html += '<input type="hidden" name="' + key + '" value="' + value + '" />';
						}
					});
					
					html += '</form>';
					
					$("body").append(html);                                            
					document.dataForm.submit();                                        
				}
			}
			
			$(function()
			{
				printCommentList();
			});
			
			function insertComment(insuranceIdx)
			{
				// content :: 댓글입력창. 비어있는 상태에서 등록 버튼을 클릭하면 setAttribute 함수를 사용해서 해당 <input> 태그에 placeholder 속성 지정
				var content = document.getElementById("content");
				
				if (isEmpty(content.value) == true)
				{
					content.setAttribute("placeholder", "댓글을 입력해 주세요.");
					content.focus();
					return false;
				}
				
				// uri :: CommentController 의 registerComment 메서드와 매핑된 "/comments" URI
				var uri = /*[[ @{/comments} ]]*/ null;
				// headers ::
				// Content-Type :: application/json으로 설정
				// X-HTTP-Method-Override :: REST 방식의 HTTP 요청 메서드 중 PUT, PATCH, DELETE 방식은 브라우저에 따라 지원하지 않는 경우가 있으므로 브라우저에서는 POST 방식으로 데이터를 전송하고, 해당 속성을 헤더에 지정해서 REST 방식의 HTTP 요청 메서드 전송
				var headers = {"Content-type": "application/json", "X-HTTP-Method-Override": "POST"};
				// params :: insertComment 의 파라미터로 전달받은 게시글 번호, content에 입력한 댓글 내용, 임의로 지정한 댓글 작성자를 해당 변수에 JSON으로 저장
				var params = {"insuranceIdx" : insuranceIdx, "content": content.value, "writer": "관리자"};
				$.ajax({
					// url :: 호출할 URI 지정
					url: uri,
					// type :: HTTP 요청 메서드 지정
					type: "POST",
					// headers :: HTTP 요청 헤더 지정
					headers: headers,
					// dataType :: 서버로부터 응답받을 데이터의 타입을 지정 (text, html, xml, json, script 등)
					dataType: "json",
					// data :: 서버에 전송할 데이터 지정. JSON.stringify 함수를 사용해서 JSON 객체를 JSON 문자열로 변환
					data: JSON.stringify(params),
					// success :: ajax 요청에 성공했을 때 실행되는 콜백 함수. 댓글이 정상적으로 등록되면, 새 댓글을 포함한 댓글을 출력하는 printCommentList 함수를 실행
					success: function(response)
					{
						if (response.result == false)
						{
							alert("댓글 등록에 실패하였습니다.");
							return false;
						}
						printCommentList();
						content.value = "";
					},
					// error :: ajax 요청에 실패했을 때 실행되는 콜백 함수
					error: function(xhr, status, error)
					{
						alert("에러가 발생하였습니다.");
						return false;
					}
				});
			}
			
			function openModal(idx, writer, content)
			{
				$("#commentModal").modal("toggle");
				
				document.getElementById("modalWriter").value = writer;
				document.getElementById("modalContent").value = content;
				
				document.getElementById("btnCommentUpdate").setAttribute("onclick", "updateComment("+ idx + ")");
				document.getElementById("btnCommentDelete").setArrribute("onclikc", "deleteComment("+ idx + ")");
			}
			
			function deleteComment(idx)
			{
				// 1. Confirm(선택) 함수를 이용해서 다시 한번 댓글의 삭제 여부 확인
				if (!confirm('댓글을 삭제하겠습니까?'))
				{
					return false;
				}
				
				// 2. uri 와 headers 에 컨트롤러의 deleteComment 메서드의 매핑 URI와 HTTP 요청 헤더를 저장
				var uri = /*[[ @{/comments/} ]]*/null;
				    uri += idx;
				var headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "DELETE"};
				
				// 3. Ajax 요청에 성공하면 삭제된 댓글을 제외한 댓글 목록을 출력하고, 모달을 숨김 처리
				$.ajax
				({
					url: uri,
					type: "DELETE",
					headers: headers,
					dataType: "json",
					success: function(response)
					{
						if (response.result == false)
						{
							alert("댓글 삭제에 실패하였습니다.");
							return false;
						}
						printCommentList();
					},
					error: function(xhr, status, error)
					{
						alert("에러가 발생하였습니다.");
						return false;
					}
				});
			}			
			
			function printCommentList()
			{
				var uri = /*[[ @{/comments/} + ${insurance.idx} ]]*/ null;                    // CommentController 의 getCommentList  메서드의 매핑 URI를 해당 변수에 지정
				
				$.get(uri, function(response)                                                 // $.get() :: 기존의 Ajax 방식보다 좀 더 간편하게 GET 방식의 요청을 처리할 수 있는 함수
				{
					if (isEmpty(response) == false)
					{
						var commentsHtml = "";                                                // 앞에서 제거한 <li> 태그를 대신해서 <ul> 태그에 댓글을 렌더링 할 HTML을 담는 용도의 변수
						$(response).each(function(idx, comment)                               // $.each() :: 댓글의 개수만큼 반복문을 실행해서 commentsHtml 에 추가
						{
							commentsHtml += `
								<li>
									<span class="name">${comment.writer}</span>
									<span class="desc">${comment.content}</span>
									<button type="button" onclick="deleteComment(${comment.idx}" class="btn btn-xs btn-circle"><i class="fa fa-close" aria-hidden="true"></i></button>
                                </li>
                            `;					
					    });
					    // commentsHtml에 담긴 댓글 리스트 (<li> 태그)를 notice-list 클래스가 지정된 <ul> 태그에 렌더링
					    $(".notice-list").html(commentsHtml);
				     }
			     }, "json");
			}
			
			/*]]>*/
		</script>
	</th:block>
</html>