<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="insurance/layout/basic">
	<th:block layout:fragment="title">
		<title> 게시글 수정하기 </title>
	</th:block>
	
	<!-- 작성된 게시글의 '수정하기' 눌렀을 때 페이지 html -->
	
	<th:block layout:fragment="content">
		<div class="card-content">
			<form class="form-horizontal" th:action="@{/insurance/register.do}" th:object="${insurance}" method="post" onsubmit="return registerInsurance(this)">
				
				<!--/* update의 경우 서버로 전달할 게시글 번호 (PK) */-->
				<input type="hidden" th:if="*{idx != null and idx > 0}" th:field="*{idx}" />
				
				<!-- 갱신형 상품 여부 -->
				<div class="form-group">
					<label for="renewProdYn" class="col-sm-2 control-label"> 갱신형 상품 여부 </label>
					<div class="col-sm-10" style="margin-top: 10px;">
						<input type="checkbox" th:value="*{renewProdYn}" id="renewProdYn" name="renewProdYn" th:checked="*{#strings.equals( renewProdYn, 'Y' )}" />
					</div>
				</div>
				
				<!-- 전자서명 여부 -->
				<div class="form-group">
					<label for="digiSigYn" class="col-sm-2 control-label"> 전자서명 여부 </label>
					<div class="col-sm-10" style="margin-top: 10px;">
						<input type="checkbox" th:value="*{digiSigYn}" id="digiSigYn" name="digiSigYn" th:checked="*{#strings.equals( digiSigYn, 'Y' )}" />
					</div>
				</div>
				
				<!-- 보험회사 -->
				<div class="form-group">
					<label for="insCo" class="col-sm-2 control-label"> 보험회사 </label>
					<!-- <div class="col-sm-10">
						<input type="text" th:field="*{insCo}" class="form-control" placeholder="보험회사명을 입력해 주세요." />
					</div> -->
					<select th:field="*{insCo}" name="insCo" size="1"> 
						<option value="ABL생명"> ABL생명 </option>
						<option value="AIA생명"> AIA생명 </option>
						<option value="DB생명"> DB생명 </option>
						<option value="DGB생명"> DGB생명 </option>
						<option value="IBK연금"> IBK연금 </option>
						<option value="KB생명"> KB생명 </option>
						<option value="KDB생명"> KDB생명 </option>
						<option value="교보생명"> 교보생명 </option>
						<option value="농협생명"> 농협생명 </option>
						<option value="동양생명"> 동양생명 </option>
						<option value="라이나생명"> 라이나생명 </option>
						<option value="메트라이프생명"> 메트라이프생명 </option>
						<option value="미래에셋생명"> 미래에셋생명 </option>
						<option value="삼성생명"> 삼성생명 </option>
						<option value="신한생명"> 신한생명 </option>
						<option value="오렌지라이프생명"> 오렌지라이프생명 </option>
						<option value="처브라이프"> 처브라이프 </option>
						<option value="카디프생명"> 카디프생명 </option>
						<option value="푸르덴셜생명"> 푸르덴셜생명 </option>
						<option value="푸본현대생명"> 푸본현대생명 </option>
						<option value="한화생명"> 한화생명 </option>
						<option value="흥국생명"> 흥국생명 </option>
						<option value="하나생명"> 하나생명 </option>
						<option value="AIG손해"> AIG손해 </option>
						<option value="DB손해"> DB손해 </option>
						<option value="KB손해"> KB손해 </option>
						<option value="MG손해"> MG손해 </option>
						<option value="농협손해"> 농협손해 </option>
						<option value="롯데손해"> 롯데손해 </option>
						<option value="메리츠화재"> 메리츠화재 </option>
						<option value="삼성화재"> 삼성화재 </option>
						<option value="에이스손해"> 에이스손해 </option>
						<option value="카디프손보"> 카디프손보 </option>
						<option value="하나손해보험"> 하나손해보험 </option>
						<option value="한화손해"> 한화손해 </option>
						<option value="현대해상"> 현대해상 </option>
						<option value="흥국화재"> 흥국화재 </option>			
					</select> 
				</div>
				
				<!-- 보험종목 -->
				<div class="form-group">
					<label for="insType" class="col-sm-2 control-label"> 보험종목 </label>
					<select th:field="*{insType}" name="insType" size="1"> 
					    <option value="미지정"> 미지정 </option>
					    <option value="종신"> 종신 </option>
						<option value="간편"> 간편 </option>
						<option value="운전자"> 운전자 </option>
						<option value="상해"> 상해 </option>
						<option value="질병"> 질병 </option>
						<option value="재물"> 재물 </option>
						<option value="연금"> 연금 </option>
						<option value="저축"> 저축 </option>
						<option value="화재"> 화재 </option>
						<option value="일반"> 일반 </option>
						<option value="자동차 개인용"> 자동차 개인용 </option>
						<option value="자동차 업무용"> 자동차 업무용 </option>
						<option value="자동차 영업용"> 자동차 영업용 </option>
						<option value="자동차 이륜차"> 자동차 이륜차 </option>
					</select>                          
				</div>
				
				<!-- 계약체결일 -->
				<div class="form-group">
					<label for="contractDate" class="col-sm-2 control-label"> 계약체결일 </label>
					<div class="col-sm-10">
						<input type="date" th:field="*{contractDate}" class="form-control" />
					</div>
				</div>
				
				<!-- 계약번호&증권번호 -->
				<div class="form-group">
					<label for="contractNo" class="col-sm-2 control-label"> 계약번호 & 증권번호 </label>
					<div class="col-sm-10">
						<input type="text" th:field="*{contractNo}" class="form-control" placeholder="계약번호(증권번호)를 입력해 주세요." />
					</div>
				</div>
				
				<!-- 계약자 -->
				<div class="form-group">
					<label for="contractor" class="col-sm-2 control-label"> 계약자 </label>
					<div class="col-sm-10">
						<input type="text" th:field="*{contractor}" class="form-control" placeholder="계약자 이름을 입력해 주세요." />
					</div>
				</div>
				
				<!-- 피보험자 -->
				<div class="form-group">
					<label for="insured" class="col-sm-2 control-label"> 피보험자 </label>
					<div class="col-sm-10">
						<input type="text" th:field="*{insured}" class="form-control" placeholder="피보험자 이름을 입력해 주세요. (피보험자가 계약자와 같다면 '계피동일'을 입력해 주세요.)" />
					</div>
				</div>
				
				<!-- 상품명 -->
				<div class="form-group">
					<label for="prodName" class="col-sm-2 control-label"> 상품명 </label>
					<div class="col-sm-10">
						<input type="text" th:field="*{prodName}" class="form-control" placeholder="판매 상품명을 입력해 주세요." />
					</div>
				</div>
				
				<!-- 납기&만기 -->
				<div class="form-group">
					<label for="paytExp" class="col-sm-2 control-label"> 납기 & 만기 </label>
					<select th:field="*{paytExp}" name="paytExp" size="1">
						<option value="일시납"> 일시납 </option>
						<option value="전기납"> 전기납 </option>
						<option value="1년납"> 1년납 </option>
						<option value="3년납"> 3년납 </option>
						<option value="5년납"> 5년납 </option>
						<option value="7년납"> 7년납 </option>
						<option value="10년납"> 10년납 </option>
						<option value="15년납"> 15년납 </option>
						<option value="20년납"> 20년납 </option>
						<option value="25년납"> 25년납 </option>
						<option value="30년납"> 30년납 </option>		
					</select>
					
					<select th:field="*{paytExp}" name="paytExp" size="1">
						<option value="종신"> 종신 </option>
						<option value="1년만기"> 1년만기 </option>
						<option value="3년만기"> 3년만기 </option>
						<option value="5년만기"> 5년만기 </option>
						<option value="7년만기"> 7년만기 </option>
						<option value="10년만기"> 10년만기 </option>
						<option value="15년만기"> 15년만기 </option>
						<option value="20년만기"> 20년만기 </option>
						<option value="25년만기"> 25년만기 </option>
						<option value="30년만기"> 30년만기 </option>
						<option value=""> </option>
						<option value="60세만기"> 60세만기 </option>
						<option value="70세만기"> 70세만기 </option>
						<option value="80세만기"> 80세만기 </option>
						<option value="90세만기"> 90년만기 </option>
						<option value="100세만기"> 100세만기 </option>
						<option value="110세만기"> 110세만기 </option>
					</select>
				</div>
			
				<!-- 1회 납입보험료 -->
				<div class="form-group">
					<label for="premium" class="col-sm-2 control-label"> 1회 납입보험료 </label>
					<div class="col-sm-10">
						<input type="text" th:field="*{premium}" class="form-control" placeholder="보험료를 입력해 주세요." />
					</div>
				</div>
				
				<!-- 메모란 -->
				<div class="form-group">
					<label for="memoCol" class="col-sm-2 control-label"> 메모란 </label>
					<div class="col-sm-10">
						<textarea th:field="*{memoCol}" class="form-control" placeholder="내용을 입력해 주세요."></textarea>						
					</div>
				</div>
				
				<div class="btn_wrap text-center" th:object="${params}">
					<a th:href="|@{/insurance/list.do}*{makeQueryString(currentPageNo)}|" class="btn btn-default waves-effect waves-light"> 뒤로가기 </a>
					<button type="submit" class="btn btn-primary waves-effect waves-light"> 저장하기 </button>
				</div>
			</form>
		</div>
	</th:block>
	
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/
			
			function registerInsurance(form)
			{

				form.renewProdYn.value = form.renewProdYn.checked == false ? 'N' : 'Y';
				form.digiSigYn.value = form.digiSigYn.checked == false ? 'N' : 'Y';
				
				var result = (
					isValid(form.insCo, "보험회사", null, null)
				 && isValid(form.insType, "보험종목", null, null)
				 && isValid(form.contractDate, "계약체결일", null, null)
				 && isValid(form.contractNo, "계약번호", null, null)
				 && isValid(form.contractor, "계약자", null, null)
				 && isValid(form.insured, "피보험자", null, null)
				 && isValid(form.prodName, "상품명", null, null)
				 && isValid(form.paytExp, "납&만기", null, null)
				 && isValid(form.premium, "보험료", null, null)
				 && isValid(form.memoCol, "메모란", null, null)	
				);
				
				if ( result == false )
				{
					return false;
				}
				
				var idx = /*[[ ${insurance.idx} ]]*/ null;
				
				if (isEmpty(idx) == false)
				{
					var queryString = /*[[ ${params.makeQueryString(params.currentPageNo)} ]]*/ null;
					
					/*[- 쿼리 스트링을 오브젝트 형태로 변환 -]*/
					queryString = new URLSearchParams(queryString);
					queryString.forEach(function(value, key)
					{
						if (isEmpty(value) == false)
						{
							$(form).append('<input type="hidden" name="' + key + '" value="' + value + '" />');
						}
					});
				}			
			}
			/*]]>*/
					
		</script>
	</th:block>
</html>